<div id="news">
  {% if RECENT_NEWS %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <div class="entry-content">
        {% if RECENT_NEWS_HEADER %}
          <h4 class="alert-heading">{{ RECENT_NEWS_HEADER }}</h4>
        {% endif %}
        {{ RECENT_NEWS }}
      </div>
    </div>
  {% endif %}
</div>
