<script src="{{ SITEURL }}/static/js/cookies-eu-banner.min.js"></script>

    <script type="text/javascript">
    var cookiesBanner = new CookiesEuBanner(function(){

    }, true);

    function executeCookieFunction() {
      var hasConsent = cookiesBanner.hasConsent()

      if (hasConsent === false) {
        return
      }

{% if GOOGLE_ANALYTICS %}
      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = "https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}";
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);

      })();
      
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', "{{ GOOGLE_ANALYTICS }}");
      
{% endif %}

{% if TWITTER_USERNAME %}
      (function () {
          var tw = document.createElement('script');
          tw.type = 'text/javascript';
          tw.async = true;
          tw.src = "//platform.twitter.com/widgets.js";
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(tw, s);
      })();
{% endif %}

    }

    executeCookieFunction()

    if (document.getElementById('cookies-eu-state') !== null) {
      $(document).ready(function() {
          var hasConsent = cookiesBanner.hasConsent()
          var state = 'Enabled';
          var add = 'fa-check';
          var remove = 'fa-times';
          if (hasConsent == false) {
            state = 'Disabled';
            add = 'fa-times';
            remove = 'fa-check';
          } else {
            hasConsent = true;
          }

            document.getElementById('cookies-eu-state').checked = hasConsent;
            document.getElementById('cookies-eu-text').innerText = state;

      });

      cookiesBanner.addClickListener(document.getElementById('cookies-eu-state'), function () {
          cookiesBanner.setConsent(document.getElementById('cookies-eu-state').checked);
          cookiesBanner.removeBanner();
          window.location.reload();
      });
    }

</script>
