{% set doi_access = 'fa-unlock' if ('doi-open' in tags) else 'fa-lock' %}
{% set doi_button = 'btn-success' if ('doi-open' in tags) else 'btn-warning' %}
{% set url_access = 'fa-unlock' if ('url-open' in tags) else 'fa-lock' %}
{% set url_button = 'btn-success' if ('url-open' in tags) else 'btn-warning' %}

<li style="margin: 15px 0;" id="{{ key }}">

  {% if "selected" in display_tags %}<div class="alert alert-info"><i class="star fa fa-star"></i>{% endif %}

    <!-- reference entry -->
    <div class='breaklinks'>{{ text }}</div>

    <!-- external link buttons -->
    {% if year|lower != "in press" %}
      {{ "<a class='btn btn-xs %s' href=\"https://dx.doi.org/%s\"><i class='fa %s'></i>&nbsp;DOI</a>" % (doi_button, doi, doi_access) if doi }}
      {{ "<a class='btn btn-xs %s' href=\"%s\"><i class='fa %s'></i>&nbsp;URL</a>" % (url_button, url, url_access) if url }}
    {% endif %}

    <!-- local download buttons -->
    {% for label, target in [('Preprint', pdf), ('Slides', slides), ('Poster', poster)] %}
        {{ "<a class='btn btn-xs btn-info' href=\"%s\"><i class='fa fa-download'></i>&nbsp;%s</a>" % (target, label) if target }}
    {% endfor %}

    <!-- supplement buttons -->
    {% for target in supplements %}
      {% if "youtube" in target %}
        <a class='btn btn-xs btn-info' data-toggle="collapse" data-target="#{{ key }}-embed"><i class='fa fa-expand'></i>&nbsp;YouTube</a>
        <div style="clear:both; margin-top: 3px; margin-bottom: 9px;" class="collapse"  id="{{ key }}-embed">
          <iframe style="border-width: 0px;" src="{{ target }}" allowfullscreen seamless></iframe>
        </div>
      {% else %}
        <a class='btn btn-xs btn-info' href="{{ target }}"><i class='fa fa-download'></i>&nbsp;Supplement</a>
      {% endif %}
    {% endfor %}

    <!-- bibtex button -->
    <a class="btn btn-xs btn-default" data-toggle="collapse" data-target="#{{ key }}-bib"><i class='fa fa-expand'></i>&nbsp;BibTeX</a>

    <!-- tags -->
    {% if display_tags|length > 0 %}
      <span class='pull-right'>
      {% for tag in display_tags %}
        {% if "open" in tag %}
          <span class='badge bg-tag'><img style="height: 1em;" src="{{ SITEURL }}/images/oa.png">&nbsp;{{ tag }}</span>
        {% elif not "selected" in tag%}
          {% if "thesis" in tag %}
            {% set tag_icon = 'fa-user' %}
          {% elif "conference" in tag %}
            {% set tag_icon = 'fa-users' %}
          {% elif "workshop" in tag %}
            {% set tag_icon = 'fa-users' %}
          {% elif "journal" in tag %}
            {% set tag_icon = 'fa-book' %}
          {% elif "selected" in tag %}
            {% set tag_icon = 'fa-star" style="color: darkorange;' %}
          {% elif "candidate" in tag %}
            {% set tag_icon = 'fa-star" style="color: silver;' %}
          {% elif "best" in tag %}
            {% set tag_icon = 'fa-star" style="color: gold;' %}
          {% else %}
            {% set tag_icon = 'fa-tag' %}
          {% endif %}
          <span class='badge bg-tag'><i class="fa {{ tag_icon }}"></i>&nbsp;{{ tag }}</span>
        {% endif %}
        {% if not loop.last %}&nbsp;{% endif %}
      {% endfor %}
      </span>
    {% endif %}

    <!-- collapsible bibtex entry -->
    <div style="clear:both; margin-top: 3px; margin-bottom: 9px;" id="{{ key }}-bib" class="collapse">
        {% set bibtex = '```tex\n' + bibtex + '\n```' %}
        {{ bibtex|md }}
        <button tabindex="0" data-toggle="popover" data-trigger="focus" data-content="Copied BibTeX entry to clipboard!" style="margin-top: -6px;" class="btn btn-xs btn-default" onclick="copyTextFunction('{{ key }}-bib')"><i class='fa fa-clipboard'></i>&nbsp;Copy to clipboard</button>
    </div>

  {% if "selected" in display_tags %}</div>{% endif %}

  <div style="clear:both"></div>

</li>
